<%= flash[:alert] %>

<h2>Adicione uma lista</h2>

<%= form_for @list do |list| %>
  <%= list.label :name, 'Nome' %>
  <%= list.text_field :name %>
  <%= list.submit 'Enviar' %>
<% end %>

<p><%= link_to 'Voltar', root_path %></p>