<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<p><%= link_to 'Enviar uma receita', new_recipe_path %></p>
<%= link_to 'Cadastrar tipo de receita', new_recipe_type_path %>
<p><%= link_to 'Cadastrar cozinha', new_cuisine_path %></p>
<%= link_to 'Adicionar lista de receitas', new_list_path %>

<h2>Receitas em destaque</h2>

<div class="favoritas">
  <% @recipes.each do |recipe| %>
    <% if recipe.favorite %>
      <h1>
        <%= link_to recipe.title, recipe %>
        <%= image_tag '/images/star.png' %>
      </h1>
      <ul>
        <li><%= recipe.recipe_type.name %></li>
        <li><%= recipe.cuisine.name %></li>
        <li><%= recipe.difficulty %></li>
        <li><%= "#{recipe.cook_time} minutos" %></li>
      </ul>
    <% end %>  
  <% end %>
</div>

<h2>Últimas receitas</h2>

<div class="ultimas_receitas">
  <% @last_recipes.each do |recipe| %>
    <% if recipe.favorite %>
    <% else %>
      <h1><%= link_to recipe.title, recipe %></h1>
      <ul>
        <li><%= recipe.recipe_type.name %></li>
        <li><%= recipe.cuisine.name %></li>
        <li><%= recipe.difficulty %></li>
        <li><%= "#{recipe.cook_time} minutos" %></li>
      </ul>
    <% end %>
  <% end %>
</div>

<p><%= link_to 'Ver todas as receitas', all_recipes_path %></p>

<% if user_signed_in? %>
  <p><%= link_to 'Ver minhas receitas', my_recipes_path %></p>
  <%= link_to 'Ver minhas receitas favoritas', my_favorite_recipes_path %>
  <p><%= link_to 'Ver minhas listas', my_lists_path %></p>
<% end %>