<% if @recipe.photo.attached? %>
  <%= image_tag @recipe.photo.variant(resize: '200x200') %>
<% end %>

<h1><%= @recipe.title %><%= image_tag '/images/star.png' %></h1>

<%= flash[:alert] %>

<h3>Detalhes</h3>
<p>
  <%= @recipe.recipe_type.name %>
  <%= form_tag add_list_recipe_path, method: :post do %>
    <%= label_tag :list_id, 'Lista' %>
    <%= select_tag(:list_id, options_from_collection_for_select(@lists, :id, :name)) %>
    <%= submit_tag 'Adicionar à esta lista' %>
  <% end %>
</p>
<p><%= @recipe.cuisine.name %></p>
<p><%= @recipe.difficulty %></p>
<p><%= "#{@recipe.cook_time} minutos" %></p>
<h3>Ingredientes</h3>
<p><%= @recipe.ingredients %></p>
<h3>Como Preparar</h3>
<p><%= @recipe.cook_method %></p>
<p>Receita enviada por <%= link_to @recipe.user.email, @recipe.user %></p>


<% if @recipe.favorite == false %>
  <%= link_to 'Favoritar', favorite_recipe_path %>
<% else %>
  <%= link_to 'Desfavoritar', favorite_recipe_path, method: :delete %>
<% end %>

<p>
  <%= link_to 'Apagar receita', @recipe, method: :delete, 
  data: { confirm: "Tem certeza que deseja apagar a receita: #{@recipe.title}?" } %>
</p>

<% if user_signed_in? %>
  <p><%= link_to 'Editar', edit_recipe_path %></p>
<% end %>
<p><%= link_to 'Voltar', root_path %></p>