<h2>Adicione uma cozinha</h2>

<%= flash[:alert] %>

<%= form_for @cuisine do |c| %>
  <%= c.label :name, 'Nome' %>
  <%= c.text_field :name %>
  <%= c.submit 'Enviar' %>
<% end %>

<p><%= link_to 'Voltar', root_path %></p>