<%= flash[:alert] %>

<%= form_for @recipe do |recipe| %>
  <%= recipe.label :title, 'Título' %>
  <p><%= recipe.text_field :title %></p>
  
  <%= recipe.label :recipe_type_id, 'Tipo da Receita' %>
  <p><%= recipe.collection_select :recipe_type_id, @recipe_type,
                                  :id, :name %></p>

  <%= recipe.label :cuisine_id, 'Cozinha' %>
  <p><%= recipe.collection_select :cuisine_id, @cuisine, :id, :name %></p>

  <%= recipe.label :difficulty, 'Dificuldade' %>
  <p><%= recipe.text_field :difficulty %></p>
  
  <%= recipe.label :cook_time, 'Tempo de Preparo' %>
  <p><%= recipe.text_field :cook_time %></p>
  
  <%= recipe.label :ingredients, 'Ingredientes' %>
  <p><%= recipe.text_field :ingredients %></p>
  
  <%= recipe.label :cook_method, 'Como Preparar' %>
  <p><%= recipe.text_field :cook_method %></p>
  
  <%= recipe.submit 'Enviar' %>
<% end %>

<%= link_to 'Voltar', @recipe %>