<h2>Adicione um tipo de receita</h2>

<%= flash[:alert] %>

<%= form_for @recipe_type do |r| %>
  <%= r.label :name, 'Nome' %>
  <%= r.text_field :name %>
  <%= r.submit 'Enviar' %>
<% end %>

<p><%= link_to 'Voltar', root_path %></p>